@Name("jsfAdapter")
@Install(classDependencies =
  "com.sun.faces.context.FacesContextImpl")
public class SunJsfAdapter implements JsfAdapter {
...
}

@Name("jsfAdapter")
@Install(classDependencies =
  "org.apache.myfaces.context.servlet.ServletFacesContextImpl")
public class MyFacesJsfAdapter implements JsfAdapter {
...
}
