a:active, a:link, a:visited {
	color: #0D5798;    
}
a:hover {
	color: #8CAFCD;
}

input, textarea {
	border: 1px solid #BBBBBB;
	font-size: 10px;
	background: #F0F8FF;
	color: black;
}

input[type='submit'], input[type='button'] {
	background: #4477AA;
	color: white;
	margin: 5px;
	border-color: gray;
}

.tableControl, .actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.footer {
	text-align: center;
	font-size: 10px;
}

.rich-table {
    width:100%;
}

h1 {
	font-family: Arial,sans-serif;
	color: #578BB8;
	font-size: 1.6em;
	margin-top: 0;
}

body {
	margin: 0px;
	font-family: Arial,sans-serif;
	color: #616161;
}

.body {
	padding: 30px;
}

.columnHeader:hover
{
    color: #FF6600;
}

.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F0F8FF;
	font-size: 12px;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}
.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}
.errors {
	color: red;
	vertical-align: middle;
}
img.errors {
	padding-right: 5px;
}
.errors input {
	border: 1px solid red;
}
.errors textarea {
	border: 1px solid red;
}

.required {
	color: red;
	padding-left: 2px;
}

/** Open 18 style overrides **/

/** improve display of JSF messages (JBSEAM-2033) **/
.message {
    list-style: none;
    border: 0;
    background: none;
    padding: 0;
    color: #000000;
    margin: 5px 0 8px 0;
    font-size: 11px;
}

.message li {
    background: no-repeat left center;
    padding-top: 1px;
    padding-left: 22px;
    margin-left: 3px;
}

.message li.infomsg {
    background-image: url(../img/msg_info.png);
}

.message li.errormsg {
    background-image: url(../img/msg_error.png);
}

.message li.warnmsg {
    background-image: url(../img/msg_warn.png);
}
