/** improve display of JSF messages (JBSEAM-2033) **/
.message {
    list-style: none;
    border: 0;
    background: none;
    padding: 0;
    color: #000000;
    margin: 5px 0 8px 0;
    font-size: 11px;
}

.message li {
    background: no-repeat left center;
    padding-top: 1px;
    padding-left: 22px;
    margin-left: 3px;
}

.message li.infomsg {
    background-image: url(../img/msg_info.png);
}

.message li.errormsg {
    background-image: url(../img/msg_error.png);
}

.message li.warnmsg {
    background-image: url(../img/msg_warn.png);
}
